<div class="base-layout">
    <div class="search-div">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <label>
              <input type="search" formControlName="city" placeholder="CITY/COUNTRY">
              <button type="submit">
                <fa-icon [icon]="iconArray[0]"></fa-icon>
              </button>
            </label>
          </form>

    </div>

    <div class="info">
        
        <h2>{{temperature | number: '1.0-0'}}&nbsp;<span>&deg;</span>c</h2>
        <p>{{city}}</p>
        <p><span>{{country}}</span></p>
    </div>
    <div class="lower">
        <div class="sub-heading">
            <p>More Information</p>
        </div>
        <div class="grid">

            <div class="sub-grids">
                <p class="items"><span class="grid-icons"><fa-icon [icon]="iconArray[5]">&nbsp;</fa-icon>&nbsp;</span><span class="value">{{localTime | date:'h:mm a'}}</span>
             </p>
            </div>
            <div class="sub-grids">
                <p class="items"><span class="grid-icons"><fa-icon [icon]="iconArray[1]">&nbsp;</fa-icon>&nbsp;</span><span class="value">{{maxTemp}}</span>
                    &deg;C </p>
            </div>
            <div class="sub-grids">
                <p class="items"><span class="grid-icons"><fa-icon [icon]="iconArray[3]">&nbsp;</fa-icon>&nbsp;</span><span class="value">{{humidity}}</span>
                    &percnt; </p>
            </div>
            <div class="sub-grids">
                <p class="items"><span class="grid-icons"><fa-icon [icon]="iconArray[4]">&nbsp;</fa-icon>&nbsp;</span><span class="value">{{wind}}</span>
                    <span>kmph</span>
                </p>
            </div>
        </div>
    </div>
</div>